@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansation:wght@400;700&display=swap');

#app {
    height: 100dvh;
    width: 100dvh;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}
button {
    display: inline-block;
    font-family: "Sansation", sans-serif;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #a65f00;
    border: none;
    border-radius: 10px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #8a4f00;
}

input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #ff960d solid;
    display: block;
    width: 100%;
    height: 30px;
    padding: 15px 0;
    margin: 5px;
    font-size: 18px;
    color: #fff;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
}
